$size1: 13em;
$size2: 3.5em;
$size3: 3em;
$size4: 2em;
$size5: 1.5em;
$size6: 1em;
$size7: 0.8em;
$size8: 0.6em;

ion-content {
  --ion-font-family: 'Hepta Slab', sans-serif;
}

ion-header {
  --ion-text-color: #fff;
  text-align: center;
}

ion-content{
  --background: linear-gradient(#5aa8db, #fabb6d);
  --ion-text-color: #222;
  
}

.main {
  display: block;
  text-align: center;
}

.city {
  display: block;
  font-size: $size3;
  font-weight: bold;
  padding-top: 0.2em;
}

.country {
  margin-bottom: 0.5em;
}

.date {
  display: block;
  margin-top: 0.5em;
  font-size: $size5;
  font-weight: bold;
}

.description {
  display: block;
  margin-bottom: 0.5em;
  font-size: $size6;
  font-weight: bold;
}

.temperature {
  display: block;
  font-size: $size5;
  padding: 0px;
  margin: 0px;
  font-weight: 100;
}

.icon {
  display: block;
  font-size: $size4;
  padding-top: 0px;
}

ion-grid {
  text-align: center;
  bottom: 0%;
  margin: 0 auto;
}

.day {
  display: block;
  font-weight: bold;
}

//   [display:block] is so that everything is stacked under each other  //


.icon-sm {
  display: block;
}

.weather-sm {
  display: block;
  font-size: $size7;
  font-weight: 200;
  margin-bottom: 1em;
}

.hi-sm {
  display: block;
}

.lo-sm {
  display: block;
}

.today {
  display: block;
  text-align: center;
  margin-top: 8em;
}

.head {
  display: block;
  margin-bottom: 0.5em;
  font-size: $size4;
  font-weight: bold;
}

.bottom {
  display: block;
  margin-bottom: 3em;
  font-size: $size6;
  font-weight: 400;
}

.time {
  display: block;
  font-size: $size7;
  font-weight: 200;
}

.temp-sm {
  display: block;
  font-size: $size7;
}

.wind {
  display: block;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 0.5em;
}

.wind .head {
  margin-bottom: 0.8em;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.icon-sl {
  display: block;
}

.speed {
  display: block;
  font-size: $size7;
}

.cards {
  margin-top: 4em;
  display: flex;
}

ion-card {
  --background: #000000b0;
  --color: #9efff0;
  width: 18em;
  text-align:left;
}

ion-card-title {
  --color: #52ffe4;
}

ion-card-subtitle {
  font-size: $size5;
  --color: #d1fff8;
}

ion-datetime {
  margin-top: 3em;
  --background: hsla(0, 0%, 100%, 0.795);
  --background-rgb: 255, 241, 242;
  position: relative;
  right: 80%;
  left: 20%;
  border-radius: 16px;
  box-shadow: rgba(var(--ion-color-rose-rgb), 0.3) 0px 10px 15px -3px;
}

.time-body {
  color: white;
}

.day-of-week {
  color: white;
}
